*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    //background-color: @white;
    //color: @base-font-color;
    //font-family: @base-font-family;
    font-size: 14px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}
body.stiky {
    overflow: hidden;
}
.content-wrapp {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
ul, ol {
    list-style-type: none;
    padding: 0;
}
a {
    display: block;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        text-decoration: none;

    }
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
input {
    background: transparent;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}
input:hover, input:active, input:focus {
    border: none;
    outline: none;
}
input:-internal-autofill-selected {

}
button {
    cursor: pointer;
    outline: none;
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
}
select {
    outline: none;
    &:focus {
        outline: none;
    }
}
button,
input,
select,
textarea {
    font-family: inherit;
    border: none;
    cursor: pointer;
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}
