main.main
    section.section.section-light
        .container
            h2.section__title.wow.slideInLeft(data-wow-duration="2s" data-wow-delay=".2s") УСТАНОВКА WEBIM
            p.section__desc Установка онлайн-консультанта Webim на ваш сайт не займет много времени. Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать его в течение 7 дней бесплатно.
            button.btn.btn-green ПОПРОБОВАТЬ БЕСПЛАТНО
            button.btn.btn-custom Тарифы

    section.section
        .container
            h2.section__title.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="2s") ПРОСТАЯ УСТАНОВКА
            p.section__desc Установка онлайн-консультанта Webim не займет более 15 минут
            ul.list.list--inner
                li.list__item
                    p.list__number 1
                        svg.svg-ico
                            use(xlink:href='#list')
                    a(href="#").list__link Регистрация
                li.list__item
                    p.list__number 2
                        svg.svg-ico
                            use(xlink:href='#code')
                    a(href="#").list__link Установка HTML-кода

    section.section.section-light
        .container
            h2.section__title.wow.slideInLeft(data-wow-duration="2s" data-wow-delay=".5s") УСТАНОВКА WEBIM
            ul.list-light
                li.list-light__item
                    a.list-light__link(href="#") Установка HTML-кода Webim для сайтов на Joomla
                    p.list-light__desc Документация по внедрению сервиса Webim на сайтах, построенных на баз CMS Joomla.
                li.list-light__item
                    a.list-light__link(href="#") Установка HTML-кода Webim для сайтов на Wordrpess
                    p.list-light__desc Документация по внедрению сервиса Webim на сайтах, построенных на базе Wordrpess.
                li.list-light__item
                    a.list-light__link(href="#") Установка HTML-кода Webim для сайтов на uCoz.ru
                    p.list-light__desc Документация по внедрению сервиса Webim на сайтах, построенных на базе uCoz.ru.
                li.list-light__item
                    a.list-light__link(href="#") Установка HTML-кода Webim для сайтов на webasyst.ru
                    p.list-light__desc Документация по внедрению сервиса Webim на сайтах, построенных на базе webasyst.ru.
                li.list-light__item
                    a.list-light__link(href="#") Установка HTML-кода Webim для любого сайта
                    p.list-light__desc Документация по внедрению сервиса Webim на сайтах с другой CMS или написанных вручную.
    section.section
        .container
            h2.section__title.wow.slideInLeft(data-wow-duration="2s" data-wow-delay=".5s") УСТАНОВКА ПРИЛОЖЕНИЯ ДЛЯ ОПЕРАТОРОВ WEBIM DASHBOARD
            p.section__desc Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard
            ul.list-light
                li.list-light__item
                    a.list-light__link(href="#") Установка приложения Webim Dashboard для iPhone
                    p.list-light__desc Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих iPhone/iPad/etc от компании Apple.
                li.list-light__item
                    a.list-light__link(href="#") Установка приложения Webim Dashboard для Android
                    p.list-light__desc Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих платформу Google Android.
                li.list-light__item
                    a.list-light__link(href="#") Установка приложения Webim Dashboard для Ubuntu
                    p.list-light__desc Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих платформу Ubuntu.
                li.list-light__item
                    a.list-light__link(href="#") Установка приложения Webim Dashboard
                    p.list-light__desc Документация по установке дополнительного программного обеспечения для операторов сервиса Webim под ОС Microsoft Windows.
                li.list-light__item
                    a.list-light__link(href="#") Создание приложения Webim для Mac OS
                    p.list-light__desc Пошаговая инструкция создания приложения для оператора Webim для Mac OS с помощью Fluid

    section.section.section-light
        .container
            h2.section__title.wow.slideInLeft(data-wow-duration="2s" data-wow-delay=".5s") ЧТО ВАС ЖДЕТ ПОСЛЕ УСТАНОВКИ
            p.section__desc Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
            ul.list-step
                li.list-step__item
                    span.svg-ico-wrapp
                        svg.list-step__svg-ico
                            use(xlink:href='#step_1')
                    p <b>Шаг 1.</b> Создание учетной записи компании и администратора
                li.list-step__item
                    span.svg-ico-wrapp
                        svg.list-step__svg-ico
                            use(xlink:href='#step_2')
                    p <b>Шаг 2.</b> Активация учетной записи
                li.list-step__item
                    span.svg-ico-wrapp
                        svg.list-step__svg-ico
                            use(xlink:href='#step_3')
                    p <b>Шаг 3.</b> Начальная настройка
                li.list-step__item
                    span.svg-ico-wrapp
                        svg.list-step__svg-ico
                            use(xlink:href='#step_4')
                    p <b>Шаг 4.</b> Установка кнопки Webim на сайт
                li.list-step__item
                    span.svg-ico-wrapp
                        svg.list-step__svg-ico
                            use(xlink:href='#step_5')
                    p <b>Шаг 5.</b> Регистрация оператора
                li.list-step__item
                    span.svg-ico-wrapp
                        svg.list-step__svg-ico
                            use(xlink:href='#step_6')
                    p <b>Шаг 6.</b> Тест сервиса
            button.btn.btn-green ВСЕ ВОЗМОЖНОСТИ WEBIM
            button.btn.btn-dark ПРОТЕСТИРОВАТЬ БЕСПЛАТНО
    section.section
        .container
            p.section__desc Webim – это не только онлайн-консультант. Интегрируйте и другие каналы, чтобы клиенты могли обращаться к вам любым удобным способом
            ul.list-step.list-step-inner
                li.list-step__item.list-step-inner__item
                    svg.list-step-inner__svg-ico
                        use(xlink:href='#sn')
                    a.list-step__link(href="") Социальные сети
                li.list-step__item.list-step-inner__item
                    svg.list-step-inner__svg-ico
                        use(xlink:href='#feed')
                    a.list-step__link(href="") Форма обратной связи
                li.list-step__item.list-step-inner__item
                    svg.list-step-inner__svg-ico
                        use(xlink:href='#phone')
                    a.list-step__link(href="") Чат в вашем мобильном приложении
                li.list-step__item.list-step-inner__item
                    svg.list-step-inner__svg-ico
                        use(xlink:href='#ms')
                    a.list-step__link(href="") Мессенджеры
                li.list-step__item.list-step-inner__item
                    svg.list-step-inner__svg-ico
                        use(xlink:href='#ya')
                    a.list-step__link(href="") Яндекс.Диалоги
                li.list-step__item.list-step-inner__item
                    svg.list-step-inner__svg-ico
                        use(xlink:href='#email')
                    a.list-step__link(href="") Электронная почта
                li.list-step__item.list-step-inner__item
                    svg.list-step-inner__svg-ico
                        use(xlink:href='#bots')
                    a.list-step__link(href="") Чат-боты






