header.header
    include ../includes/mob-nav-list.pug
    .container
        .header-wrapper
            nav.nav
                .burger
                    span.burger__one
                    span.burger__two
                    span.burger__three
                ul.user-list
                    li.user-list__item
                        a.user-list__link(href="#") Вход
                    li.user-list__item
                        a.user-list__link(href="#") Регистрация
                .nav-list-wrapp
                    ul.nav-list
                        li.nav-list__item
                            a.nav-list__link(href="#") Возможности
                        li.nav-list__item
                            a.nav-list__link(href="#") Тарифы
                        li.nav-list__item
                            a.nav-list__link(href="#") Партнерам
                        li.nav-list__item
                            a.nav-list__link(href="#") Помощь
                    a.logo(href="/")
                        img(src="img/logo.png" alt="Логотип")
