ul.mob-nav
    li.mob-nav__item
        a.mob-nav__link(href="#") Вход
    li.mob-nav__item
        a.mob-nav__link(href="#") Регистрация
    li.mob-nav__item
        a.mob-nav__link(href="#") Возможности
    li.mob-nav__item
        a.mob-nav__link(href="#") Тарифы
    li.mob-nav__item
        a.mob-nav__link(href="#") Партнерам
    li.mob-nav__item
        a.mob-nav__link(href="#") Помощь
